discord==1.0.1
discord.py==1.7.2
aiohttp
websockets
chardet
maya
datetime
requests
responses
fake-useragent
lxml
pip 
PyNaCl
python-binary-memcached
pylibmc
dnspython
selenium==4.0.0
webdriver_manager==3.5.1
selenium-stealth
